<h3>Find plants for your garden!</h3>
  <form id="plant-search-form">
    {{!-- hardiness, habit, life cycle, exposure, SOI --}}
    <div class="grid-x align-spaced search-form-section">
      <label class="cell large-3"><h5>Hardiness zone</h5>
        <select id='hardiness-zone'>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>        
        </select>
      </label>
      <label class="cell large-3"><h5>Habit</h5>
        <select id='habit'>
          <option value="tree">Tree</option>
          <option value="shrub">Shrub</option>
          <option value="vine">Vine</option>
          <option value="grass">Grass</option>
          <option value="herb">Herb</option>       
        </select>
      </label>
      <label class="cell large-3"><h5>Life Cycle</h5>
        <select id='life-cycle'>
          <option value="perennial">Perennial</option>
          <option value="biennial">Biennial</option>
          <option value="annual">Annual</option>     
        </select>
      </label>
    </div>
    <div class="grid-x">
      <fieldset class="cell large-12 search-form-section">
        <legend><h5>Sun Exposure</h5></legend>
        <div class="grid-x">
          <div class="cell large-1 medium-3 small-3"><input type="checkbox" id="full-sun"><label for="full-sun">Full Sun</label></div>
          <div class="cell large-1 medium-3 small-3"><input type="checkbox" id="part-sun"><label for="part-sun">Part Sun</label></div>
          <div class="cell large-1 medium-3 small-3"><input type="checkbox" id="part-shade"><label for="part-shade">Part Shade</label></div>
          <div class="cell large-1 medium-3 small-3"><input type="checkbox" id="full-shade"><label for="full-shade">Full Shade</label></div>    
      </fieldset>
    </div>
    <div class="grid-x align-justify">
      <fieldset class="cell large-12">
        <legend><h5>Season of Interest</h5></legend>
        <div class="grid-x">
          <div class="cell large-1 small-3"><input type="checkbox" id="early-spring"><label for="early-spring">Early Spring</label></div>
          <div class="cell large-1 small-3"><input type="checkbox" id="mid-spring"><label for="mid-spring">Mid Spring</label></div>
          <div class="cell large-1 small-3"><input type="checkbox" id="late-spring"><label for="late-spring">Late Spring</label></div>
          <div class="cell large-1 small-3"><input type="checkbox" id="early-summer"><label for="early-summer">Early Summer</label></div>
          <div class="cell large-1 small-3"><input type="checkbox" id="mid-summer"><label for="mid-summer">Mid Summer</label></div>
          <div class="cell large-1 small-3"><input type="checkbox" id="late-summer"><label for="late-summer">Late Summer</label></div>
          <div class="cell large-1 small-3"><input type="checkbox" id="fall"><label for="fall">Fall</label></div>
          <div class="cell large-1 small-3"><input type="checkbox" id="winter"><label for="winter">Winter</label></div>
        </div>       
      </fieldset>
    </div>
    <button class='button cell large-12' id='plant-search'>Search!</button>
  </form>

<script src='/js/gardener_search.js'></script>