<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>{{page_title}}</title>
  <link rel='stylesheet' href='/css/foundation.css' />
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
  <header class='data-sticky-container'>
    <div class='title-bar' data-sticky data-options="marginTop:0;" data-top-anchor="1" style="width:100%">
      {{#if logged_in}}
      <nav class='title-bar-left'>
        <ul class='menu expanded'>
          <li><button class='button nav-button' id='home'>Home</button></li>
          <li><button class='button nav-button' id='logout'>Logout</button></li>
        </ul>
      </nav>
      {{else}}
      <nav class='title-bar-left'>
        <ul class='menu expanded'>
          <li><button class='button nav-button' id='home'>Home</button></li>
          <li><button class='button nav-button' id='login'>Login</button></li>
        </ul>
      </nav>
      {{/if}}
    </div>
  </header>
  {{{body}}}
  <footer>

  </footer>
  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/vendor/what-input.js"></script>
  <script src="/js/vendor/foundation.js"></script>
  <script src='/js/front.js'></script>
</body>

</html>