<main>
  {{#if logged_in}}
  Welcome back, {{username}}!
  {{> search}}
  {{else}}
  {{> search}}
  <p></p>
  <p>Sign in to add plants to your collection!</p>
  <p>If you already have an account, click the login
    button in the navigation bar above to sign in.
    If you do not, you can sign up as a gardener
    or as a nursery manager using the buttons below.
  </p>
  <p>
    <button class='button nav-button' id='signup-gardener'>Sign up as a gardener</button>
    <button class='button nav-button' id='signup-nursery_manager'>Sign up as a nursery manager</button>
  </p>
  {{/if}}
</main>

<script src='/js/front.js'></script>