<main>
  <p>Choose plants for your garden.</p>
  <p>If you already have an account, click the login
    button in the navigation bar above to sign in.
    If you do not, you can sign up as a gardener
    or as a nursery manager using the buttons below.</p>
  <p>
    <button class='button nav-button' id='signup-gardener'>Sign up as a gardener</button>
    <button class='button nav-button' id='signup-nursery_manager'>Sign up as a nursery manager</button>

  </p>
</main>