<main>
  <h1>Search</h1>
  <form id="plant-search-form">
    {{!-- hardiness, habit, life cycle, exposure, SOI --}}
    <div class="grid-x align-justify">
    <label class="cell large-2"><h5>Hardiness zone</h5>
      <select id='hardiness-zone'>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>        
      </select>
    </label>
    <label class="cell large-2"><h5>Habit</h5>
      <select id='habit'>
        <option value="tree">Tree</option>
        <option value="shrub">Shrub</option>
        <option value="vine">Vine</option>
        <option value="grass">Grass</option>
        <option value="herb">Herb</option>       
      </select>
    </label>
    <label class="cell large-2"><h5>Life Cycle</h5>
      <select id='life-cycle'>
        <option value="perennial">Perennial</option>
        <option value="biennial">Biennial</option>
        <option value="annual">Annual</option>     
      </select>
    </label>
    <label class="cell large-2"><h5>Sun Exposure</h5>
      <select id="sun-exposure" multiple>
        <option value="full-sun">Full Sun</option>
        <option value="part-sun">Part Sun</option>
        <option value="part-shade">Part Shade</option>
        <option value="full-shade">Full Shade</option>                
      </select>
    </label>
    <label class="cell large-2"><h5>Season of Interest</h5>
      <select id="season-of-interest" multiple>
        <option value="early-spring">Early Spring</option>
        <option value="mid-spring">Mid Spring</option>
        <option value="late-spring">Late Spring</option>
        <option value="early-summer">Early Summer</option>
        <option value="mid-summer">Mid Summer</option>
        <option value="late-summer">Late Summer</option>
        <option value="fall">Fall</option>
        <option value="winter">Winter</option>           
      </select>
    </label>
    </div>
    <button class='button' id='plant-search'>Search!</button>
  </form>
</main>

<script src='/js/gardener_search.js'></script>