
<main>
<h1>log in or sign up<h1>
  <h2>Login</h2>
  <form id="login-form">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <label>Name
            <input type="text" id='name-login' placeholder="name">
          </label>
        </div>
        <div class="cell">
          <label>password
            <input type="password" id='password-login' placeholder="password">
          </label>
        </div>
        <div class='cell'>
          <button class='button' type='submit'>submit</button>
        </div>
      </div>
    </div>
  </form>

  <h2>Signup</h2>
  <form id="signup-form">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <label>Name
            <input type="text" id='name-signup' placeholder="name">
          </label>
        </div>
        <div class="cell">
          <label>email
            <input type="text" id='email-signup' placeholder="email">
          </label>
        </div>
        <div class="cell">
          <label>password
            <input type="password" id='password-signup' placeholder="password">
          </label>
        </div>
        <div class=""cell">
          <label for="role_choice">Gardener or Nursery Manager</label>
          <select name="role_choice" id="role_choice-signup">
            <option value="gardener">gardener</option>
            <option value="nursery_manager">nursery manager</option>
          </select>
        </div>
         <div class='cell'>
          <button class='button' type='submit'>signup</button>          
        </div>
      </div>
    </div>
  </form>
</div>
</main>

<script src='./js/user.js'></script>