<main>
  <h1>Login</h1>
  <form id="login-form">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <label>Name
            <input type="text" id='name-login' autofocus placeholder="name">
          </label>
        </div>
        <div class="cell">
          <label>password
            <input type="password" id='password-login' placeholder="password">
          </label>
        </div>
        <div class='cell'>
          <button class='button' type='submit'>submit</button>
        </div>
      </div>
    </div>
  </form>
</main>

<script src='/js/login.js'></script>