<main>
  <h1>Signup as Nursery Manager</h1>
  <form id="signup-form">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <label>Name
            <input type="text" id='name-signup' placeholder="name">
          </label>
        </div>
        <div class="cell">
          <label>email
            <input type="text" id='email-signup' placeholder="email">
          </label>
        </div>
        <div class="cell">
          <label>password
            <input type="password" id='password-signup' placeholder="password">
          </label>
        </div>
        <div class='cell'>
          <button class='button' type='submit'>signup</button>
        </div>
      </div>
    </div>
  </form>
</main>

<script src='./js/sign_up_as_nursery_manager.js'></script>