body {
    background-image: url(../images/garden_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.nav-button {
    background: black;
    color: white;
}

.title-bar {
    background-color: #AABE4D;
}

.topic-description {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

.topic-subject {
    color: white;
    background: black;
    padding: 10px;
    display: inline;
}

.topic-metadata {
    color: white;
    background: black;
    padding: 10px;
    text-align: right;
    display: inline;
}

.response-description {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

.response-subject {
    color: white;
    background: black;
    padding: 10px;
    display: inline;
}

.response-metadata {
    color: white;
    background: black;
    padding: 10px;
    text-align: right;
    display: inline;
}

.button {
    border-radius: 10px;
}

.added-plant-button {
    background-color: #AABE4D;
}

.button-box {
    display: flex;
    justify-content: left;
    align-items: center;
}

.button-edit {
    padding: 10px;
    margin: 10px;
}

.button-delete {
    padding: 10px;
    margin: 10px;
}

.plant-card {
    height: 100%;
}

.search-form-section {
    border-bottom: 1px solid white;
}

#info-main {
    width: 75vw;
    margin-top: 5vh;
    padding: 50px;
    opacity: 0.85;
    border-radius: 25px;
}

#page-title {
    border-radius: 10px;
    padding: 5px;
    border: 5px;
    margin: 10px;
    background: white;
    color: black;
    box-shadow: 5px 5px 2px #cccccc;
    display: inline-block;
    font-weight: bold;
}

#page-title-background {
    background: black;
}

#plant-search-form, #new-plant-form {
    border-color:#AABE4D;
    border-width:2px;
    border-style: solid;
    background-color: #AABE4D;
    opacity: 100;
    border-radius: 10px;
    padding: 25px 25px 0px 25px;
}

input[type="checkbox"]:not(:checked), 
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}

input[type="checkbox"] + label {
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  width:75px;
  height:75px;
  cursor: pointer;
  border: 1px solid black;
  color: black;
  background-color:#AABE4D;
  margin-bottom: 10px;
}

input[type="checkbox"]:checked + label {
  border: 1px solid white;
  color: white;
  background-color: #1779BA;
}